<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    
    <property resource="application.properties" />
    
    <appender name="plainLog"  class="ch.qos.logback.core.ConsoleAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		    <!-- Minimum logging level to be presented in the console logs -->
		    <level>INFO</level>
		</filter>
		<encoder>
                    
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}: %msg%n</pattern>
		</encoder>		
    </appender>
    ​
    <appender name="json"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs -->
            <level>TRACE</level>
        </filter>
        <encoder
            class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{ISO8601}",
                        "version": "${springAppVersion:-}",
                        "severity": "%level",
                        "service":"${springAppName:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "logger": "%logger{40}",
                        "message": "%message",
                        "breadcrumbID":"%X{camel.breadcrumbId}",
                        "exchangeID":"%X{camel.exchangeId}",
                        "correlationID":"%X{camel.correlationId}",
                        "routeID":"%X{camel.routeId}",
                        "exception": "%ex{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="performance"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
            class="net.logstash.logback.encoder.LogstashEncoder">
            <shortenedLoggerNameLength>-1</shortenedLoggerNameLength>
            <customFields>{"service.version": "${springAppVersion:-}","service":"${springAppName:-}","pid": "${PID:-}"}</customFields>
            <fieldNames>
                <message>duration</message>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="de.muenchen.ehrenamtjustiz.eai.personeninfo.processor.CountingProcessor" level="TRACE" additivity="false">
        <appender-ref ref="performance" />
    </logger>
	
    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO" additivity="false">
        <appender-ref ref="json" />
    </logger>
    <logger name="de.muenchen.ehrenamtjustiz.eai.personeninfo" level="DEBUG" additivity="false">
        <appender-ref ref="json" />
    </logger>
	
    <logger name="org.apache.cxf.services" level="INFO" additivity="false">
        <appender-ref ref="json" />
    </logger>
    
    <logger name="de.muenchen.ehrenamtjustiz.eai.personeninfo.filter.RequestResponseLoggingFilter" level="DEBUG" additivity="false">
        <appender-ref ref="json" />
    </logger>

    <logger name="org.apache.camel.Tracing" level="TRACE" additivity="false">
        <appender-ref ref="json" />
    </logger>

    <logger name="route.interceptedFrom" level="WARN" additivity="false">
        <appender-ref ref="json" />
    </logger>
		
    <root level="INFO">
        <appender-ref ref="plainLog" />
        <appender-ref ref="json" />
    </root>
</configuration>